%header-link {
	@include clean-link;
}

a {
	color: $blue;
	cursor: pointer;
	@include single-transition(color);

	@each $header in (h1 h2 h3 h4 h5 h6) {
		#{$header} & {
			@extend %header-link;
		}
	}
	&:hover {
		text-decoration: underline;
	}
}
