@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/bower_components\/font-awesome\/scss\/_core\.scss}line{font-family:\000034}}
.fa, .social-link i {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/bower_components\/font-awesome\/scss\/_list\.scss}line{font-family:\000034}}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/bower_components\/font-awesome\/scss\/_list\.scss}line{font-family:\000038}}
.fa-ul > li {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/bower_components\/font-awesome\/scss\/_list\.scss}line{font-family:\0000310}}
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/bower_components\/font-awesome\/scss\/_list\.scss}line{font-family:\0000316}}
.fa-li.fa-lg {
  left: -1.85714em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/susy-1\.0\.9\/sass\/susy\/_grid\.scss}line{font-family:\0000314}}
* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/_scaffolding\.scss}line{font-family:\000035}}
body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  background: #0d344d;
  color: #f7f7f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/_scaffolding\.scss}line{font-family:\0000312}}
.wrapper {
  background: url(/content/themes/penny4nasa/images/stars.svg), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d344d), color-stop(100%, #111111));
  background: url(/content/themes/penny4nasa/images/stars.svg), -webkit-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/stars.svg), -moz-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/stars.svg), -o-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/stars.svg), linear-gradient(top, #0d344d, #111111);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/_scaffolding\.scss}line{font-family:\0000317}}
.container {
  *zoom: 1;
  max-width: 1168px;
  max-width: 73rem;
  _width: 1168px;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.container:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/utils\/_sticky-footer\.scss}line{font-family:\000033}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/utils\/_sticky-footer\.scss}line{font-family:\000037}}
.wrapper {
  min-height: 100%;
  padding-bottom: 0rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/utils\/_sticky-footer\.scss}line{font-family:\0000312}}
.site-footer {
  height: 0rem;
  margin-top: 0rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_buttons\.scss}line{font-family:\000031}}
.hero-cta--link, .social-link.facebook i, .social-link.twitter i, .social-link.google-plus i, .social-link.youtube i {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 1em;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  border-radius: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/utils\/_links\.scss}line{font-family:\000035}}
.hero-cta--link:hover, .social-link.facebook i:hover, .social-link.twitter i:hover, .social-link.google-plus i:hover, .social-link.youtube i:hover {
  color: inherit;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_buttons\.scss}line{font-family:\0000320}}
.hero-cta--link {
  background-color: rgba(255, 89, 94, 0.8);
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_buttons\.scss}line{font-family:\0000314}}
.hero-cta--link:hover {
  background-color: #ff595e;
  color: #f7f7f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_headers\.scss}line{font-family:\000031}}
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin: 0 0 0.5rem 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_headers\.scss}line{font-family:\000036}}
h1 {
  font-size: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_headers\.scss}line{font-family:\0000311}}
h2 {
  font-size: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_headers\.scss}line{font-family:\0000316}}
h3 {
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_headers\.scss}line{font-family:\0000321}}
h4 {
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_headers\.scss}line{font-family:\0000326}}
h5 {
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_headers\.scss}line{font-family:\0000331}}
h6 {
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_links\.scss}line{font-family:\000031}}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/utils\/_links\.scss}line{font-family:\000035}}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #ff595e;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_links\.scss}line{font-family:\000035}}
a {
  color: #ff595e;
  cursor: pointer;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_links\.scss}line{font-family:\0000315}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_lists\.scss}line{font-family:\000031}}
.social-links {
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_lists\.scss}line{font-family:\000035}}
.social-links {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_lists\.scss}line{font-family:\000038}}
.social-links li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/atoms\/_site-navigation\.scss}line{font-family:\000031}}
.site-navigation {
  font-size: 1.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/atoms\/_site-title\.scss}line{font-family:\000033}}
.site-title {
  font-size: 2em;
  color: #1e94de;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/atoms\/_site-title\.scss}line{font-family:\000037}}
.site-title .p4n-logo {
  width: 2em;
  height: 2em;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/atoms\/_site-title\.scss}line{font-family:\0000312}}
.site-title .title {
  font-size: 1.5em;
  float: left;
  line-height: 1;
  padding: 0.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/atoms\/_site-title\.scss}line{font-family:\0000318}}
.site-title .title span {
  color: #ff595e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\000037}}
.social-link.facebook i, .social-link.twitter i, .social-link.google-plus i, .social-link.youtube i {
  font-size: 1.5em;
  padding: 0.5em;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000314}}
.social-links {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000320}}
.social-link {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/susy-1\.0\.9\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
.social-link:nth-child(4) {
  float: right;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000325}}
.social-link.facebook i {
  background-color: rgba(59, 89, 152, 0.8);
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_buttons\.scss}line{font-family:\0000314}}
.social-link.facebook i:hover {
  background-color: #3b5998;
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000329}}
.social-link.facebook i:before {
  content: "\f09a";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000335}}
.social-link.twitter i {
  background-color: rgba(0, 172, 238, 0.8);
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_buttons\.scss}line{font-family:\0000314}}
.social-link.twitter i:hover {
  background-color: #00acee;
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000339}}
.social-link.twitter i:before {
  content: "\f099";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000345}}
.social-link.google-plus i {
  background-color: rgba(221, 75, 57, 0.8);
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_buttons\.scss}line{font-family:\0000314}}
.social-link.google-plus i:hover {
  background-color: #dd4b39;
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000349}}
.social-link.google-plus i:before {
  content: "\f0d5";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000355}}
.social-link.youtube i {
  background-color: rgba(187, 0, 0, 0.8);
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/quarks\/_buttons\.scss}line{font-family:\0000314}}
.social-link.youtube i:hover {
  background-color: #bb0000;
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000359}}
.social-link.youtube i:before {
  content: "\f167";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000364}}
.social-link a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000367}}
.social-link i {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/_social-links\.scss}line{font-family:\0000371}}
.social-link i:before {
  display: block;
  width: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_banner\.scss}line{font-family:\000031}}
.hero-banner:before, .hero-banner:after {
  display: block;
  content: "";
  width: 100%;
  height: 6em;
  background: url("/content/themes/penny4nasa/images/moon-top.png") no-repeat;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_banner\.scss}line{font-family:\0000314}}
.hero-banner:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_banner\.scss}line{font-family:\0000318}}
.hero-banner .content {
  background-color: #b9cdd3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_cta\.scss}line{font-family:\000033}}
.hero-cta {
  margin-bottom: 4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_cta\.scss}line{font-family:\000036}}
.hero-cta .content {
  width: 66.19718%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 16.90141%;
  font-size: 1.2em;
  line-height: 1;
  text-align: center;
  clear: both;
  color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_cta\.scss}line{font-family:\0000315}}
.hero-cta .social-links {
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-left: 8.4507%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_cta\.scss}line{font-family:\0000321}}
.hero-cta--header {
  font-size: 2.5em;
  text-transform: uppercase;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_cta\.scss}line{font-family:\0000327}}
.hero-cta--subheader {
  line-height: 1.2;
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_cta\.scss}line{font-family:\0000332}}
.hero-cta--link {
  width: 32.39437%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-left: 8.4507%;
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_video\.scss}line{font-family:\000031}}
.hero-video {
  margin-bottom: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_video\.scss}line{font-family:\000034}}
.hero-video .video {
  width: 66.19718%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 16.90141%;
  position: relative;
  background-color: #111111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/hero\/_video\.scss}line{font-family:\0000310}}
.hero-video .video:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\000031}}
.site-header {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #eeeeee;
  background-color: #111111;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\000038}}
.site-header a {
  color: inherit;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/utils\/_links\.scss}line{font-family:\000035}}
.site-header a:hover {
  color: #ff595e;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\0000311}}
.site-header .container {
  *zoom: 1;
  max-width: 1168px;
  max-width: 73rem;
  _width: 1168px;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.site-header .container:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\0000320}}
.site-title {
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  display: flex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\0000325}}
.site-navigation {
  width: 57.74648%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
  display: flex;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\0000331}}
.site-navigation .menu-site-menu-container {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\0000334}}
.site-navigation .nav-menu {
  display: flex;
  flex-direction: row;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\0000338}}
.site-navigation .nav-menu .menu-item {
  width: 20%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joseph\/Development\/penny4nasa\/content\/themes\/penny4nasa\/styles\/molecules\/site\/_header\.scss}line{font-family:\0000342}}
.site-navigation .nav-menu .menu-item:last-child {
  color: #ff595e;
}

/* No files to import found in templates/**\/* */
