/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, bower_components/font-awesome/scss/_core.scss */
.fa, .button.-external:after, .button.-expand:after, .social-link a:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 4, bower_components/font-awesome/scss/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 8, bower_components/font-awesome/scss/_list.scss */
.fa-ul > li {
  position: relative;
}

/* line 10, bower_components/font-awesome/scss/_list.scss */
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
/* line 16, bower_components/font-awesome/scss/_list.scss */
.fa-li.fa-lg {
  left: -1.85714em;
}

/* line 14, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, styles/scaffolding/_base.scss */
body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  background: #0d344d;
  color: #f7f7f7;
}

/* line 10, styles/scaffolding/_base.scss */
.wrapper {
  background: url(/content/themes/penny4nasa/images/stars.svg), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d344d), color-stop(100%, #111111));
  background: url(/content/themes/penny4nasa/images/stars.svg), -webkit-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/stars.svg), -moz-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/stars.svg), -o-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/stars.svg), linear-gradient(top, #0d344d, #111111);
}

/* line 15, styles/scaffolding/_base.scss */
.container {
  *zoom: 1;
  max-width: 1168px;
  max-width: 73rem;
  _width: 1168px;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 2, styles/utils/_font-awesome.scss */
.social-link.youtube a:before {
  content: "\f167";
}

/* line 2, styles/utils/_font-awesome.scss */
.social-link.facebook a:before {
  content: "\f09a";
}

/* line 2, styles/utils/_font-awesome.scss */
.social-link.twitter a:before {
  content: "\f099";
}

/* line 2, styles/utils/_font-awesome.scss */
.social-link.google-plus a:before {
  content: "\f0d5";
}

/* line 3, styles/utils/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 7, styles/utils/_sticky-footer.scss */
.wrapper {
  min-height: 100%;
  padding-bottom: 14.5rem;
}

/* line 12, styles/utils/_sticky-footer.scss */
.site-footer {
  height: 14.5rem;
  margin-top: -14.5rem;
}

/* line 2, styles/quarks/_buttons.scss */
.button.-cta, .button, [type="submit"], .social-link.facebook a, .social-link.twitter a, .social-link.google-plus a, .social-link.youtube a {
  color: inherit;
  text-decoration: none;
  display: block;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  padding: 1em 2em;
  border-radius: 1px;
  text-shadow: 0 -1px 0 rgba(17, 17, 17, 0.25);
  text-align: center;
  cursor: pointer;
}
/* line 5, styles/quarks/__mixins.scss */
.button:hover, [type="submit"]:hover, .social-link.facebook a:hover, .social-link.twitter a:hover, .social-link.google-plus a:hover, .social-link.youtube a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 25, styles/quarks/_buttons.scss */
.button.-external:after, .button.-expand:after {
  margin-top: 0.1em;
  margin-left: 0.5em;
}

/* line 39, styles/quarks/_buttons.scss */
.button.-cta {
  background-color: rgba(255, 89, 94, 0.8);
  color: #f7f7f7;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 19, styles/quarks/_buttons.scss */
.button.-cta:hover {
  background-color: #ff595e;
  color: #f7f7f7;
}

/* line 43, styles/quarks/_buttons.scss */
.button, [type="submit"] {
  background-color: rgba(30, 148, 222, 0.8);
  color: #f7f7f7;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 19, styles/quarks/_buttons.scss */
.button:hover, [type="submit"]:hover {
  background-color: #1e94de;
  color: #f7f7f7;
}

/* line 32, styles/quarks/_buttons.scss */
.button.-external:after {
  content: "\f08e";
}
/* line 32, styles/quarks/_buttons.scss */
.button.-expand:after {
  content: "\f067";
}

/* line 1, styles/quarks/_forms.scss */
[type="text"],
[type="email"],
[type="url"],
[type="search"],
textarea {
  border: none;
  padding: 1em;
  margin: 0;
  background-color: #0d344d;
  color: #eeeeee;
}

/* line 9, styles/quarks/_forms.scss */
[type="submit"] {
  display: inline-block;
  margin: 0;
  border: none;
}

/* line 20, styles/quarks/_forms.scss */
[type="text"],
[type="email"],
[type="url"],
[type="search"],
textarea {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/* line 1, styles/quarks/_headers.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin: 0 0 0.5rem 0;
}

/* line 6, styles/quarks/_headers.scss */
h1 {
  font-size: 2em;
}

/* line 11, styles/quarks/_headers.scss */
h2 {
  font-size: 1.5em;
}

/* line 16, styles/quarks/_headers.scss */
h3 {
  font-size: 1.2em;
}

/* line 21, styles/quarks/_headers.scss */
h4 {
  font-size: 1.2em;
}

/* line 26, styles/quarks/_headers.scss */
h5 {
  font-size: 1.2em;
}

/* line 31, styles/quarks/_headers.scss */
h6 {
  font-size: 1.2em;
}

/* line 1, styles/quarks/_links.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
/* line 5, styles/quarks/__mixins.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #1e94de;
  text-decoration: none;
}

/* line 5, styles/quarks/_links.scss */
a {
  color: #1e94de;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 15, styles/quarks/_links.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, styles/quarks/_lists.scss */
.social-links {
  list-style-type: none;
}

/* line 5, styles/quarks/_lists.scss */
.social-links, .site-footer .footer-links {
  overflow: hidden;
}
/* line 8, styles/quarks/_lists.scss */
.social-links li, .site-footer .footer-links li {
  float: left;
}

/* line 2, styles/quarks/_logos.scss */
.p4n-logo .-flip-side {
  fill: #306FB7;
}
/* line 5, styles/quarks/_logos.scss */
.p4n-logo .-face {
  fill: #3292D0;
}
/* line 8, styles/quarks/_logos.scss */
.p4n-logo .-ring {
  fill: #f15b60;
}

/* line 1, styles/quarks/_typography.scss */
small {
  font-size: 0.8em;
}

/* line 5, styles/quarks/_typography.scss */
p {
  line-height: 1.2;
  margin-bottom: 1em;
}

/* line 10, styles/quarks/_typography.scss */
strong {
  font-weight: bold;
}

/* line 5, styles/atoms/_graph-budget.scss */
.graph-budget {
  font-size: 1em;
  height: 32em;
  fill: #eeeeee;
}
/* line 10, styles/atoms/_graph-budget.scss */
.graph-budget .graph {
  -webkit-transform: translate(3em, 1em);
  -moz-transform: translate(3em, 1em);
  -ms-transform: translate(3em, 1em);
  -o-transform: translate(3em, 1em);
  transform: translate(3em, 1em);
}
/* line 14, styles/atoms/_graph-budget.scss */
.graph-budget .axis.x {
  -webkit-transform: translate(0, 29em);
  -moz-transform: translate(0, 29em);
  -ms-transform: translate(0, 29em);
  -o-transform: translate(0, 29em);
  transform: translate(0, 29em);
}
/* line 17, styles/atoms/_graph-budget.scss */
.graph-budget .axis.x path {
  display: none;
}
/* line 21, styles/atoms/_graph-budget.scss */
.graph-budget .axis path, .graph-budget .axis line {
  fill: none;
  stroke: #eeeeee;
  shape-rendering: crispEdges;
}
/* line 28, styles/atoms/_graph-budget.scss */
.graph-budget .label.y {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-anchor: end;
}
/* line 33, styles/atoms/_graph-budget.scss */
.graph-budget .line {
  fill: none;
  stroke: #1e94de;
  stroke-width: 1.5px;
}
/* line 38, styles/atoms/_graph-budget.scss */
.graph-budget .goal {
  fill: none;
  stroke: #ff595e;
  stroke-width: 1.5px;
}

/* line 2, styles/atoms/_search.scss */
.search-form .screen-reader-text {
  display: none;
}

/* line 7, styles/molecules/_data-budget.scss */
.data-budget .graph-budget {
  margin-top: -6em;
}

/* line 12, styles/molecules/_data-budget.scss */
.data-budget--header {
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
  font-size: 2em;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  position: relative;
  top: 2em;
  margin: 0;
  text-align: right;
}
/* line 22, styles/molecules/_data-budget.scss */
.data-budget--header strong {
  color: #1e94de;
}
/* line 25, styles/molecules/_data-budget.scss */
.data-budget--header small {
  font-size: 0.5em;
  display: block;
  margin-top: 0.5em;
}
/* line 30, styles/molecules/_data-budget.scss */
.data-budget--header small strong {
  color: #ff595e;
}

/* line 1, styles/molecules/_donate-method.scss */
.donate-method {
  width: 49.29577%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  padding: 1rem 1rem 0;
}
/* line 5, styles/molecules/_donate-method.scss */
.donate-method:nth-of-type(2) {
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
}
/* line 9, styles/molecules/_donate-method.scss */
.donate-method .paypal-method {
  width: 49.29577%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  font-size: 0.8em;
  text-align: center;
}
/* line 14, styles/molecules/_donate-method.scss */
.donate-method .paypal-method:nth-of-type(2) {
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
}
/* line 18, styles/molecules/_donate-method.scss */
.donate-method .address--mail {
  padding: 1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/* line 3, styles/molecules/_press-contact.scss */
.press-contact {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  font-size: 0.8em;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #0d344d;
  overflow: hidden;
  text-align: center;
}
/* line 12, styles/molecules/_press-contact.scss */
.press-contact p {
  margin-bottom: 0.2em;
}

/* line 17, styles/molecules/_press-contact.scss */
.press-contact--title {
  font-size: 1.3em;
}

/* line 21, styles/molecules/_press-contact.scss */
.press-contact--image {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  margin-bottom: 1rem;
}

/* line 2, styles/molecules/_sidebar.scss */
.sidebar .button {
  margin-bottom: 1rem;
}
/* line 5, styles/molecules/_sidebar.scss */
.sidebar .button.-expand:not(.open) + ul {
  display: none;
}
/* line 8, styles/molecules/_sidebar.scss */
.sidebar .button + ul {
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  padding: 1rem;
  background-color: rgba(17, 17, 17, 0.8);
}
/* line 15, styles/molecules/_sidebar.scss */
.sidebar li {
  line-height: 1.2;
}
/* line 18, styles/molecules/_sidebar.scss */
.sidebar li a {
  color: inherit;
  text-decoration: none;
}
/* line 5, styles/quarks/__mixins.scss */
.sidebar li a:hover {
  color: #1e94de;
  text-decoration: none;
}

/* line 6, styles/molecules/_social-links.scss */
.social-link.facebook a, .social-link.twitter a, .social-link.google-plus a, .social-link.youtube a {
  font-size: 1.5em;
  padding: 0.5em;
  display: inline-block;
}

/* line 13, styles/molecules/_social-links.scss */
.social-links {
  text-align: center;
}

/* line 19, styles/molecules/_social-links.scss */
.social-link {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
}
/* line 184, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_grid.scss */
.social-link:nth-child(4) {
  float: right;
  margin-right: 0;
}
/* line 29, styles/molecules/_social-links.scss */
.social-link.facebook a {
  background-color: rgba(59, 89, 152, 0.8);
  color: #f7f7f7;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 19, styles/quarks/_buttons.scss */
.social-link.facebook a:hover {
  background-color: #3b5998;
  color: #f7f7f7;
}
/* line 34, styles/molecules/_social-links.scss */
.social-link.facebook a:hover {
  background-color: #3b5998;
}
/* line 29, styles/molecules/_social-links.scss */
.social-link.twitter a {
  background-color: rgba(85, 172, 238, 0.8);
  color: #f7f7f7;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 19, styles/quarks/_buttons.scss */
.social-link.twitter a:hover {
  background-color: #55acee;
  color: #f7f7f7;
}
/* line 34, styles/molecules/_social-links.scss */
.social-link.twitter a:hover {
  background-color: #55acee;
}
/* line 29, styles/molecules/_social-links.scss */
.social-link.google-plus a {
  background-color: rgba(221, 75, 57, 0.8);
  color: #f7f7f7;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 19, styles/quarks/_buttons.scss */
.social-link.google-plus a:hover {
  background-color: #dd4b39;
  color: #f7f7f7;
}
/* line 34, styles/molecules/_social-links.scss */
.social-link.google-plus a:hover {
  background-color: #dd4b39;
}
/* line 29, styles/molecules/_social-links.scss */
.social-link.youtube a {
  background-color: rgba(187, 0, 0, 0.8);
  color: #f7f7f7;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 19, styles/quarks/_buttons.scss */
.social-link.youtube a:hover {
  background-color: #bb0000;
  color: #f7f7f7;
}
/* line 34, styles/molecules/_social-links.scss */
.social-link.youtube a:hover {
  background-color: #bb0000;
}
/* line 40, styles/molecules/_social-links.scss */
.social-link a {
  text-decoration: none;
}
/* line 43, styles/molecules/_social-links.scss */
.social-link a:before {
  display: block;
  width: 1em;
}

/* line 1, styles/molecules/hero/__mixin.scss */
.data-budget, .hero-cta, .hero-video {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 3, styles/molecules/hero/_cta.scss */
.hero-cta {
  background-color: rgba(17, 17, 17, 0.7);
  padding: 3rem;
}
/* line 8, styles/molecules/hero/_cta.scss */
.hero-cta .hero-content {
  width: 66.19718%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 16.90141%;
  font-size: 1.2em;
  line-height: 1;
  text-align: center;
  clear: both;
  color: #eeeeee;
}
/* line 17, styles/molecules/hero/_cta.scss */
.hero-cta .social-links {
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-left: 8.4507%;
}

/* line 23, styles/molecules/hero/_cta.scss */
.hero-cta--header {
  font-size: 2.5em;
  text-transform: uppercase;
  white-space: nowrap;
}

/* line 29, styles/molecules/hero/_cta.scss */
.hero-cta--subheader {
  line-height: 1.2;
  margin-bottom: 2rem;
}

/* line 34, styles/molecules/hero/_cta.scss */
.hero-cta--link {
  width: 32.39437%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-left: 8.4507%;
}

/* line 4, styles/molecules/hero/_video.scss */
.hero-video .video {
  width: 83.09859%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 8.4507%;
  position: relative;
  background: #111111 url(http://b.vimeocdn.com/ts/457/179/457179811_1280.jpg) no-repeat center;
  background-size: 100%;
}
/* line 10, styles/molecules/hero/_video.scss */
.hero-video .video:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

/* line 3, styles/molecules/site/_footer.scss */
.site-footer {
  font-size: 0.8em;
  line-height: 1rem;
  color: #4b5254;
  padding-top: 5rem;
  text-align: center;
}
/* line 11, styles/molecules/site/_footer.scss */
.site-footer:before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 7.5rem;
  margin-top: -3rem;
  background: url("/content/themes/penny4nasa/images/moon-top.png") no-repeat;
  background-size: 100%;
}
/* line 21, styles/molecules/site/_footer.scss */
.site-footer .content {
  background-color: #b9cdd3;
  padding: 6rem 0 0.5rem;
}
/* line 25, styles/molecules/site/_footer.scss */
.site-footer a {
  color: inherit;
  text-decoration: none;
}
/* line 5, styles/quarks/__mixins.scss */
.site-footer a:hover {
  color: #1e94de;
  text-decoration: none;
}
/* line 28, styles/molecules/site/_footer.scss */
.site-footer .footer-links {
  width: 49.29577%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 25.35211%;
  margin-bottom: 0.5rem;
}
/* line 33, styles/molecules/site/_footer.scss */
.site-footer .footer-links .footer-link {
  padding: 0 1.4em;
}
/* line 37, styles/molecules/site/_footer.scss */
.site-footer .copyright {
  font-size: 0.9em;
  clear: both;
}
/* line 41, styles/molecules/site/_footer.scss */
.site-footer .p4n-logo {
  display: block;
  height: 1rem;
  width: 1rem;
}
/* line 46, styles/molecules/site/_footer.scss */
.site-footer .p4n-logo * {
  fill: #4b5254;
}

/* line 3, styles/molecules/site/_header.scss */
.site-header {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #eeeeee;
  background-color: #111111;
  text-transform: uppercase;
}
/* line 9, styles/molecules/site/_header.scss */
.site-header a {
  color: inherit;
  text-decoration: none;
}
/* line 5, styles/quarks/__mixins.scss */
.site-header a:hover {
  color: #1e94de;
  text-decoration: none;
}
/* line 12, styles/molecules/site/_header.scss */
.site-header .container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}

/* line 20, styles/molecules/site/_header.scss */
.site-title {
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  font-size: 2em;
  color: #1e94de;
  display: flex;
}
/* line 26, styles/molecules/site/_header.scss */
.site-title .p4n-logo {
  width: 2em;
  height: 2em;
  float: left;
}
/* line 31, styles/molecules/site/_header.scss */
.site-title .title {
  font-size: 1.5em;
  float: left;
  line-height: 1;
  padding: 0.5rem;
}
/* line 37, styles/molecules/site/_header.scss */
.site-title .title span {
  color: #ff595e;
}
/* line 41, styles/molecules/site/_header.scss */
.site-title a:hover {
  color: #ff595e;
}

/* line 46, styles/molecules/site/_header.scss */
.site-navigation {
  width: 83.09859%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}
/* line 53, styles/molecules/site/_header.scss */
.site-navigation .menu-site-menu-container {
  width: 100%;
}
/* line 56, styles/molecules/site/_header.scss */
.site-navigation .nav-menu {
  display: flex;
  flex-direction: row;
}
/* line 60, styles/molecules/site/_header.scss */
.site-navigation .nav-menu--item {
  padding: 0 0.5em;
  text-align: center;
}
/* line 64, styles/molecules/site/_header.scss */
.site-navigation .nav-menu--item:last-child {
  color: #ff595e;
}

/* line 1, styles/molecules/site/_main.scss */
.site-main {
  padding-top: 2rem;
}
/* line 4, styles/molecules/site/_main.scss */
.site-main .content {
  width: 74.64789%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  padding: 1rem 1rem 0;
  background-color: rgba(17, 17, 17, 0.8);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 10, styles/molecules/site/_main.scss */
.site-main .sidebar {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
}

/* line 2, styles/templates/_list-view.scss */
body.list-view .page-header {
  width: 100%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
  padding: 1rem 1rem 0;
  background-color: rgba(17, 17, 17, 0.8);
  margin-bottom: 1rem;
}
/* line 9, styles/templates/_list-view.scss */
body.list-view .post, body.list-view .page {
  width: 74.64789%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
/* line 15, styles/templates/_list-view.scss */
body.list-view .post .entry-header, body.list-view .page .entry-header {
  width: 83.09859%;
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  background-color: rgba(30, 148, 222, 0.2);
  padding: 1rem;
}
/* line 23, styles/templates/_list-view.scss */
body.list-view .post .entry-header:first-child, body.list-view .page .entry-header:first-child {
  margin-right: -100%;
  margin-left: 8.4507%;
}
/* line 27, styles/templates/_list-view.scss */
body.list-view .post .entry-title, body.list-view .page .entry-title {
  margin: 0;
}
/* line 30, styles/templates/_list-view.scss */
body.list-view .post .entry-summary, body.list-view .page .entry-summary {
  display: none;
}
/* line 33, styles/templates/_list-view.scss */
body.list-view .post .entry-meta, body.list-view .page .entry-meta {
  display: none;
}
/* line 36, styles/templates/_list-view.scss */
body.list-view .post .post-thumbnail, body.list-view .page .post-thumbnail {
  width: 15.49296%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
}
/* line 39, styles/templates/_list-view.scss */
body.list-view .post .post-thumbnail img, body.list-view .page .post-thumbnail img {
  display: block;
}
/* line 43, styles/templates/_list-view.scss */
body.list-view .post img, body.list-view .page img {
  width: 100%;
  height: auto;
}

/* line 2, styles/pages/_blog.scss */
body.blog .site-main {
  padding-top: 2rem;
}
/* line 5, styles/pages/_blog.scss */
body.blog .tweet {
  margin-bottom: 1rem;
}
/* line 8, styles/pages/_blog.scss */
body.blog .tweet .container {
  background-color: rgba(85, 172, 238, 0.2);
  padding: 1rem;
}

/* line 2, styles/pages/_donate.scss */
body.page-donate .notice {
  clear: both;
}

/* line 2, styles/pages/_error404.scss */
body.error404 .site-main {
  text-align: center;
  padding-top: 4em;
}

/* line 2, styles/pages/_home.scss */
body.home .site-main {
  padding-top: 0;
}

/* line 2, styles/pages/_missions.scss */
body.page-missions .wrapper {
  background: url(/content/themes/penny4nasa/images/satellite.svg) no-repeat 0 4em, url(/content/themes/penny4nasa/images/stars.svg), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d344d), color-stop(100%, #111111));
  background: url(/content/themes/penny4nasa/images/satellite.svg) no-repeat 0 4em, url(/content/themes/penny4nasa/images/stars.svg), -webkit-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/satellite.svg) no-repeat 0 4em, url(/content/themes/penny4nasa/images/stars.svg), -moz-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/satellite.svg) no-repeat 0 4em, url(/content/themes/penny4nasa/images/stars.svg), -o-linear-gradient(top, #0d344d, #111111);
  background: url(/content/themes/penny4nasa/images/satellite.svg) no-repeat 0 4em, url(/content/themes/penny4nasa/images/stars.svg), linear-gradient(top, #0d344d, #111111);
}
/* line 5, styles/pages/_missions.scss */
body.page-missions h3 {
  font-weight: bold;
}

/* line 2, styles/pages/_press.scss */
body.page-press .page-header {
  margin-bottom: 0.5em;
}
/* line 5, styles/pages/_press.scss */
body.page-press .press-kit {
  width: 32.39437%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-bottom: 3em;
}
/* line 9, styles/pages/_press.scss */
body.page-press .press-section {
  width: 49.29577%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  overflow: hidden;
  margin-bottom: 3em;
}
/* line 14, styles/pages/_press.scss */
body.page-press .press-section:nth-of-type(2n-1) {
  clear: left;
}
/* line 17, styles/pages/_press.scss */
body.page-press .press-section:nth-of-type(2n) {
  float: right;
  margin-right: 0;
  *margin-left: -1rem;
  display: inline;
}
/* line 22, styles/pages/_press.scss */
body.page-press .press-logos a {
  text-decoration: none;
}

/* line 2, styles/pages/_single.scss */
body.single .post {
  width: 74.64789%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
}
/* line 5, styles/pages/_single.scss */
body.single .post-thumbnail {
  text-align: center;
  padding: 1rem;
  background-color: rgba(30, 148, 222, 0.2);
}
/* line 10, styles/pages/_single.scss */
body.single .post-thumbnail img {
  max-width: 100%;
  height: auto;
}
/* line 15, styles/pages/_single.scss */
body.single .entry-header {
  padding: 1rem 1rem 0;
  background-color: rgba(17, 17, 17, 0.8);
}
/* line 20, styles/pages/_single.scss */
body.single .entry-content {
  padding: 1rem 1rem 0;
  background-color: rgba(17, 17, 17, 0.2);
}

/* line 4, styles/pages/_volunteer.scss */
body.page-volunteer .site-main .content p:first-child:first-line {
  font-size: 1.5em;
}
