body.list-view {
	.post, .page {
		@include span-columns(10);
		@include isolate(2);
		display: flex;
		flex-direction: row;
		clear: both;
		margin-bottom: $gutter-width;

		.entry-header {
			@include span-columns(10 omega);
			font-size: 0.8em;
			display: flex;
			align-items: center;
			background-color: rgba($blue, 0.2);
			padding: $grid-padding;

			&:first-child {
				@include isolate(2);
			}
		}
		.entry-title {
			margin: 0;
		}
		.entry-summary {
			display: none;
		}
		.entry-meta {
			display: none;
		}
		.post-thumbnail {
			@include span-columns(2);

			img {
				display: block;
			}
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
