body.page-press {
	.page-header {
		margin-bottom: 0.5em;
	}
	.press-kit {
		@include span-columns(4);
		margin-bottom: 3em;
	}
	.press-section {
		@include span-columns(6);
		overflow: hidden;
		margin-bottom: 3em;

		&:nth-of-type(2n-1) {
			clear: left;
		}
		&:nth-of-type(2n) {
			@include omega;
		}
	}
	.press-logos {
		a {
			text-decoration: none;
		}
	}
}
