body.single {
	.post {
		@include susy-breakpoint($medium-screen, 12) {
			@include span(9);
		}
	}
	.post-thumbnail {
		text-align: center;
		padding: $grid-padding;
		@include light-opacity($blue);

		img {
			max-width: 100%;
			height: auto;
		}
	}
	.entry-header {
		padding: $grid-padding $grid-padding 0;
		@include heavy-opacity($black);
	}
	.entry-content {
		padding: $grid-padding $grid-padding 0;
		@include heavy-opacity($black);
		overflow: hidden;
		margin-bottom: 1em;

		ul {
			padding: 1em 1em 0.5em 2em;
			list-style-type: disc;
			@include light-opacity($blue);
			margin-bottom: 1em;
			overflow: hidden;

			li {
				margin-bottom: 0.5em;
			}
		}
	}
	.entry-meta {
		font-size: 0.8em;

		& > .entry-date {
			&:before {
				content: "Posted on ";
			}
		}
		.author {
			&:before {
				content: "by ";
			}
		}
	}
	.post-comments {
		padding: $grid-padding;

		@include susy-breakpoint($medium-screen, 12) {
			@include span(9);
		}
	}
	.tag-links {
		a {
			@include clean-link;
			display: inline-block;
			padding: 0.5em 1em;
			margin: 0 0.5em 0.5em 0;
			@include heavy-opacity($black);
			@include border-radius;
		}
	}
}
