$graph-budget-height: 32em;
$graph-budget-small-height: 20em;
$graph-budget-margin-left: 3em;
$graph-budget-margin-top: 1em;

.graph-budget, .graph-budget-image {
	font-size: 1em;
	height: $graph-budget-small-height;
	fill: $white;

	@include susy-breakpoint($medium-screen, 12) {
		height: $graph-budget-height;
	}

	.graph {
		@include transform(translate($graph-budget-margin-left, $graph-budget-margin-top));
	}
	.axis {
		&.x {
			@include transform(translate(0, $graph-budget-height / 2));

			@include susy-breakpoint($medium-screen, 12) {
				@include transform(translate(0, $graph-budget-height - 3));
			}

			.tick text {
				@include susy-breakpoint(0 $small-screen, 12) {
					@include transform(rotate(-45deg));
					text-anchor: end !important;
				}
			}
			path {
				display: none;
			}
		}
		path, line {
			fill: none;
			stroke: $white;
			shape-rendering: crispEdges;
		}
	}
	.label {
		&.y {
			display: none;
			@include transform(rotate(-90deg));
			text-anchor: end;

			@include susy-breakpoint($medium-screen, 12) {
				display: block;
			}
		}
	}
	.line {
	  fill: none;
	  stroke: $blue;
	  stroke-width: 1.5px;
	}
	.goal {
		fill: none;
		stroke: $red;
		stroke-width: 1.5px;
	}
}
