%moon-image {
	display: block;
	content: "";
	width: 100%;
	height: 6em;
	background: url($image-moon-top) no-repeat;
	background-size: cover;
}

.hero-banner {
	margin-bottom: $gutter-width * 3;

	&:before {
		@extend %moon-image;
	}
	&:after {
		@extend %moon-image;
		@include transform(rotate(180deg));
	}
	.content {
		background-color: $moon-grey;

		.container {
			@include container;
			padding-top: 4em;
			padding-bottom: 4em;
		}
	}
}