%moon-image {
	display: block;
	content: "";
	width: 100%;
	height: 6em;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-banner {
	&:before {
		@extend %moon-image;
		background-image: url($image-moon-top);
	}
	&:after {
		@extend %moon-image;
		background-image: url($image-moon-bottom);
	}
	.content {
		background-color: $moon-grey;

		.container {

		}
	}
}