$social-links: facebook, twitter, google-plus, youtube;

.hero-cta {
	@extend %hero;
	background-color: rgba($black, 0.7);
	padding: $grid-padding * 3;

	.hero-content {
		@include span-columns(8);
		@include isolate(3);
		font-size: 1.2em;
		line-height: 1;
		text-align: center;
		clear: both;
		color: $white;
	}
	.social-links {
		@include span-columns(5);
		@include pre(1);
	}
}

.hero-cta--header {
	font-size: 2.5em;
	text-transform: uppercase;
	white-space: nowrap;
}

.hero-cta--subheader {
	line-height: 1.2;
	margin-bottom: $gutter-width * 2;
}

.hero-cta--link {
	@include span-columns(4);
	@include pre(1);
}
