$social-links: facebook, twitter, google-plus, youtube;
$social-links-columns: 8;

.hero-cta {
	margin-bottom: $gutter-width * 4;

	.content {
		@include span-columns(8);
		@include isolate(3);
		font-size: 1.2em;
		line-height: 1;
		text-align: center;
		clear: both;
		color: $white;
	}
	.social-links {
		@include span-columns($social-links-columns);
		@include isolate((($total-columns - $social-links-columns) / 2) + 1);
	}
}

.hero-cta--header {
	font-size: 2.5em;
	text-transform: uppercase;
	white-space: nowrap;
}

.hero-cta--subheader {
	line-height: 1.2;
	margin-bottom: $gutter-width;
}

.hero-cta--link {
	@include span-columns(4);
	@include isolate(5);
	@extend %red-button;
	margin-bottom: $gutter-width * 2;
}