.hero-video {
	margin-bottom: $gutter-width * 2;

	.video {
		@include span-columns(8);
		@include isolate(3);
		position: relative;
		background-color: $black;

		&:before {
			content: "";
			display: block;
			padding-top: $hero-video-aspect-ratio;
		}
	}
}