.hero-video {
	@extend %hero;

	.video {
		position: relative;

		@include susy-breakpoint($medium-screen, 12) {
			@include center-columns(10);
		}

		&:before {
			content: "";
			display: block;
			padding-top: $hero-video-aspect-ratio;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;

			&:before {
			content: "";
			display: block;
			padding-top: $hero-video-aspect-ratio;
		}
		}
	}
}
