.hero-video {
	@extend %hero;

	.video {
		@include center-columns(10);
		position: relative;
		background: $black url(http://b.vimeocdn.com/ts/457/179/457179811_1280.jpg) no-repeat center;
		background-size: 100%;

		&:before {
			content: "";
			display: block;
			padding-top: $hero-video-aspect-ratio;
		}
	}
}