$header-p4n-logo-size: 2em;

.site-header {
	font-family: $header-font-family;
	color: $white;
	background-color: $black;
	text-transform: uppercase;

	a {
		@include clean-link;
	}
	.container {
		padding-top: $grid-padding;
		padding-bottom: $grid-padding;

		@include susy-breakpoint($medium-screen, 12) {
			display: flex;
			flex-direction: row;
			padding-top: $grid-padding / 2;
			padding-bottom: $grid-padding / 2;
		}
	}
}

.site-title {
	@include span(12);
	font-size: 2em;
	color: $blue;
	text-align: center;

	@include susy-breakpoint($medium-screen, 12) {
		@include span(2);
		display: flex;
	}
	@include susy-breakpoint($large-screen, 12) {
		@include span(4);
		display: flex;
	}

	.p4n-logo {
		width: $header-p4n-logo-size;
		height: $header-p4n-logo-size;

		@include susy-breakpoint($medium-screen, 12) {
			float: left;
		}
	}
	.title {
		font-size: 1.5em;
		float: left;
		line-height: 1;
		padding: $grid-padding / 2;
		display: none;

		@include susy-breakpoint($large-screen, 12) {
			display: block;
		}

		span {
			color: $red;
		}
	}
	a:hover {
		color: $red;
	}
}

.site-navigation {
	@include span(12 omega);
	font-size: 1.3em;

	@include susy-breakpoint($medium-screen, 12) {
		@include span(10 omega);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@include susy-breakpoint($large-screen, 12) {
		@include span(8 omega);
		justify-content: flex-end;
	}

	.menu-site-menu-container{
		width: 100%;
	}
	.nav-menu {
		@include susy-breakpoint($medium-screen, 12) {
			display: flex;
			flex-direction: row;
		}
	}
	.nav-menu--item {
		padding: 0 0.5em;
		text-align: center;

		&:last-child {
			color: $red;
		}
	}
}
