.site-main {
	padding-top: $grid-padding * 2;
	padding-bottom: 7em;

	.content {
		@include span(last 12);
		padding: $grid-padding $grid-padding 0;
		@include heavy-opacity($black);
		@include border-radius;

		@include susy-breakpoint($medium-screen, 12) {
			@include span(9);
		}
	}
	.sidebar {
		@include span(last 12);

		@include susy-breakpoint($medium-screen, 12) {
			@include span(last 3);
		}
	}
}
