%button {
	@include clean-link(inherit);
	display: block;
	font-family: $button-font-family;
	padding: 1em;
	border-radius: $default-border-radius;
}

@mixin button ($background-color, $color: $light-text-color) {
	background-color: rgba($background-color, 0.8);
	color: $color;
	@include transition(background-color $base-transition-duration $default-transition-easing);

	&:hover {
		background-color: $background-color;
		color: $color;
	}
}

%red-button {
	@extend %button;
	@include button($red);
}