%headers {
	font-family: $header-font-family;
	margin: 0 0 0.5rem 0;
}

h1 {
	font-size: 2em;
	@extend %headers;
}

h2 {
	font-size: 1.5em;
	@extend %headers;
}

h3 {
	font-size: 1.2em;
	@extend %headers;
}

h4 {
	font-size: 1.2em;
	@extend %headers;
}

h5 {
	font-size: 1.2em;
	@extend %headers;
}

h6 {
	font-size: 1.2em;
	@extend %headers;
}