%images {
	max-width: 100%;
	height: auto;
}

img {}

.alignright {
	@extend %images;

	@include susy-breakpoint($medium-screen, 12) {
		float: right;
		margin-left: 1em;
	}
}

.alignleft {
	@extend %images;

	@include susy-breakpoint($medium-screen, 12) {
		float: left;
		margin-right: 1em;
	}
}

.alignnone, .aligncenter {
	@extend %images;

	@include susy-breakpoint($medium-screen, 12) {
		margin-left: auto;
		margin-right: auto;
	}
}
