/////// Config defaults for site colors ///////
// -----------------------------------------------------------------------------
$black: #111111;
$white: #eeeeee;

$off-white: #efefef;

$light-grey: rgb(247, 247, 247);
$grey: rgb(206, 207, 206);
$dark-grey: rgb(75, 82, 84);

$moon-grey: #b9cdd3;

$red: #ff595e;
$blue: #1e94de;
$dark-blue: #0d344d;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-plus-color: #dd4b39;
$youtube-color: #bb0000;

$primary-color: $dark-grey;
$secondary-color: $grey;
$tertiary-color: $light-grey;

$dark-text-color: $primary-color;
$light-text-color: $tertiary-color;

$default-background-color: $light-grey;

$base-color-opacity: 0.8;

/////// Config defaults for site border style ///////
// -----------------------------------------------------------------------------
$default-border-color: $secondary-color;
$default-border-width: 1px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;

$default-border-radius: 1px;

/////// Page dimension configuration ///////
// -----------------------------------------------------------------------------
$site-footer-height: 10.5rem;

/////// Typography configuration ///////
// -----------------------------------------------------------------------------
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.75;

$base-line-height: 1;

$default-font-family: Helvetica, Arial, sans-serif;
$special-font-family: "PT Sans", Helvetica, Arial, sans-serif;

$header-font-family: $special-font-family;
$button-font-family: $special-font-family;

/////// Path configuration ///////
// -----------------------------------------------------------------------------
$bower-components-path: "bower_components";

/////// Font-awesome configuration ///////
// -----------------------------------------------------------------------------
$fa-font-path: $bower-components-path + "/font-awesome/fonts";

/////// Config defaults for buttons ///////
// -----------------------------------------------------------------------------

/////// Susy configuration ///////
// -----------------------------------------------------------------------------
$total-columns: 12;						// a 12-column grid
$column-width: 5rem;						// each column is 5em wide
$gutter-width: 1rem;						// 1em gutters between columns
$grid-padding: $gutter-width;	// grid-padding equal to gutters
$container-style: magic;

$small-screen: 2 48em;
$medium-screen: 48em 6 80em;
$large-screen: 80em 12 90em;

/////// Site Icons and Images ///////
// -----------------------------------------------------------------------------
$theme-images-directory: "/content/themes/penny4nasa/images";

$image-moon-top: $theme-images-directory + "/moon-top.png";

$aspect-radio-1-1: 100%;
$aspect-radio-2-1: 50%;
$aspect-radio-1-2: 200%;
$aspect-radio-4-3: 75%;
$aspect-radio-16-9: 56.25%;

$hero-video-aspect-ratio: $aspect-radio-16-9;

$base-background-images: image-url("#{$theme-images-directory}/stars.svg"), linear-gradient(top, $dark-blue, $black);

/////// Animation configuration ///////
// -----------------------------------------------------------------------------
$default-transition-duration: 0.2s;

/////// Misc configuration ///////
// -----------------------------------------------------------------------------
$social-media-list:
	facebook (
		(color $facebook-color)
	),
	twitter (
		(color $twitter-color)
	),
	google-plus (
		(color $google-plus-color)
	),
	youtube (
		(color $youtube-color)
	);
