* {
	@include border-box-sizing;
}

body {
	font-size: $base-font-size;
	background: $dark-blue;
	@include background(image-url("#{$theme-images-directory}/stars.svg"), linear-gradient(top, $dark-blue, $black));
}

.wrapper {
	@extend %sticky-wrapper;
}

.container {
	@include container;
	padding-top: $gutter-width;
}