@include border-box-sizing;

body {
	font-size: $base-font-size;
	font-family: $default-font-family;
	background: $dark-blue;
	color: $light-text-color;
}

.wrapper {
	@extend %sticky-wrapper;
	@include background($base-background-images);
}

.container {
	@include container;
}
