body.blog {
	.site-main {
		padding-top: $gutter-width * 2;
	}
	.tweet {
		margin-bottom: $gutter-width;

		.container {
			background-color: rgba($twitter-color, 0.2);
			padding: $grid-padding;
		}
	}
}
