$budget-header-size: 2em;
$budget-header-small-size: 0.5em;

.data-budget {
	@extend %hero;

	.graph-budget {
		@include susy-breakpoint($medium-screen, 12) {
			margin-top: ($budget-header-size * 3) * -1;
		}
	}
}

.data-budget--header {
	padding: 0 1em;
	font-size: $budget-header-size * 0.75;
	font-family: $header-font-family;
	margin: 0;
	text-align: center;

	@include susy-breakpoint($medium-screen, 12) {
		@include span(last 5 of 12);
		position: relative;
		top: $budget-header-size;
		font-size: $budget-header-size;
		text-align: right;
	}

	strong {
		color: $blue;
	}
	small {
		font-size: $budget-header-small-size;
		display: block;
		margin-top: $budget-header-small-size;

		strong {
			color: $red;
		}
	}
}
