$budget-header-size: 2em;
$budget-header-small-size: 0.5em;

.data-budget {
	@extend %hero;

	.container {
		@include container;
	}
	.graph-budget {
		margin-top: ($budget-header-size * 3) * -1;
	}
}

.data-budget--header {
	@include span-columns(5);
	@include omega;
	font-size: $budget-header-size;
	font-family: $header-font-family;
	position: relative;
	top: $budget-header-size;
	margin: 0;
	text-align: right;

	strong {
		color: $blue;
	}
	small {
		font-size: $budget-header-small-size;
		display: block;
		margin-top: $budget-header-small-size;

		strong {
			color: $red;
		}
	}
}