.donate-method {
	@include span-columns(6);
	@include nth-omega(2);
	padding: $grid-padding;

	.paypal-method {
		@include span-columns(6);
		font-size: 0.8em;
		text-align: center;

		&:nth-of-type(2) {
			@include omega;
		}
	}
	.address--mail {
		padding: $grid-padding;
		font-family: $special-font-family;
	}
}

.donate-method--title {

}
