.donate-method {
	padding: $grid-padding $grid-padding 0;

	@include susy-breakpoint($medium-screen, 12) {
		@include span(6);

		&:last-of-type {
			@include last;
		}
	}

	.paypal-method {
		font-size: 0.8em;
		text-align: center;

		@include susy-breakpoint($medium-screen, 12) {
			@include span(6);

			&:last-of-type {
				@include last;
			}
		}
	}
	.address--mail {
		padding: $grid-padding;
		font-family: $special-font-family;
	}
}

.donate-method--title {

}
