.sidebar {
	.button {
		margin-bottom: $gutter-width;

		&.-expand:not(.open) + ul {
			display: none;
		}
		& + ul {
			margin-bottom: $gutter-width;
		}
	}
	li {
		a {
			@include clean-link;
		}
	}
}
