// Variables
$social-link-columns: floor($total-columns / length($social-media-list));
$social-link-size: 0.5em;

// Helpers
%social-link {
	font-size: 1em + $social-link-size;
	padding: 1em - $social-link-size;
	display: inline-block;
}

// Styles
.social-links {
	@extend %clean-list;
	@extend %horizontal-list;
	text-align: center;
}

.social-link {
	@include span-columns($social-link-columns);
	@include nth-omega(length($social-media-list));

	@each $media in $social-media-list {
		$service: getObjectKey($media);
		$service-properties: getObjectValue($media);
		$service-color: getObjectValue($service-properties);

		&.#{$service} {
			a {
				@include button($service-color);

				&:hover {
					background-color: $service-color;
				}
			}
			i {
				@extend %fa-#{$service};
				@extend %social-link;
			}
		}
	}
	a {
		display: inline-block;
		text-decoration: none;
	}
	i {
		@extend .fa;
		@include box-sizing(content-box);

		&:before {
			// font-size: $social-link-size;
			display: block;
			width: 1em;
		}
	}
}