// Variables
$social-links: facebook, twitter, google-plus, youtube;
$social-link-columns: floor($total-columns / length($social-links));
$social-link-size: 0.5em;

// Helpers
%social-link {
	font-size: 1em + $social-link-size;
	padding: 1em - $social-link-size;
	display: inline-block;
}

// Styles
.social-links {
	@extend %clean-list;
	@extend %horizontal-list;
	text-align: center;
}

.social-link {
	@include span-columns($social-link-columns);
	@include nth-omega(length($social-links));

	&.facebook {
		i {
			@extend %social-link;
			@include button($facebook-color);

			&:before {
				content: $fa-var-facebook;
			}
		}
	}
	&.twitter {
		i {
			@extend %social-link;
			@include button($twitter-color);

			&:before {
				content: $fa-var-twitter;
			}
		}
	}
	&.google-plus {
		i {
			@extend %social-link;
			@include button($google-plus-color);

			&:before {
				content: $fa-var-google-plus;
			}
		}
	}
	&.youtube {
		i {
			@extend %social-link;
			@include button($youtube-color);

			&:before {
				content: $fa-var-youtube;
			}
		}
	}
	a {
		text-decoration: none;
	}
	i {
		@extend .fa;
		@include box-sizing(content-box);

		&:before {
			// font-size: $social-link-size;
			display: block;
			width: 1em;
		}
	}
}