.wp-caption {
	margin: 1em;

	&.alignright {
		float: right;
		margin-right: 0;
	}
	&.alignleft {
		float: left;
	}
	&.alignnone {
		margin-left: auto;
		margin-right: auto;
	}
	& > a {
		display: block;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.wp-caption-text {
	font-size: 0.8em;
	padding: 0.5em;
}
