$site-footer-height: 0 !default;

html, body {
  height: 100%;
}

%sticky-wrapper {
  min-height: 100%;
  padding-bottom: $site-footer-height;
}

%sticky-footer {
  height: $site-footer-height;
  margin-top: $site-footer-height * -1;
}