$header-p4n-logo-size: 2em;

.site-header {
	font-family: $header-font-family;
	color: $white;
	background-color: $black;
	text-transform: uppercase;

	a {
		@include clean-link;
	}
	.container {
		padding-top: $grid-padding / 2;
		padding-bottom: $grid-padding / 2;
		display: flex;
		flex-direction: row;
	}
}

.site-title {
	@include span-columns(5);
	font-size: 2em;
	color: $blue;
	display: flex;

	.p4n-logo {
		width: $header-p4n-logo-size;
		height: $header-p4n-logo-size;
		float: left;
	}
	.title {
		font-size: 1.5em;
		float: left;
		line-height: 1;
		padding: $grid-padding / 2;

		span {
			color: $red;
		}
	}
}

.site-navigation {
	@include span-columns(10);
	@include omega;
	font-size: 1.3em;
	display: flex;
	align-items: center;

	.menu-site-menu-container{
		width: 100%;
	}
	.nav-menu {
		display: flex;
		flex-direction: row;
	}
	.nav-menu--item {
		padding: 0 0.5em;
		text-align: center;

		&:last-child {
			color: $red;
		}
	}
}
