.site-main {
	padding-top: $grid-padding * 2;

	.content {
		@include span-columns(9);
		padding: $grid-padding $grid-padding 0;
		background-color: rgba($black, $base-color-opacity);
	}
	.sidebar {
		@include span-columns(3);
		@include omega;
	}
}
