.donate-method {
	padding: $grid-padding $grid-padding 0;

	@include susy-breakpoint($medium-screen, 12) {
		@include span(last 6);
	}

	.paypal-method {
		font-size: 0.8em;
		text-align: center;

		@include susy-breakpoint($medium-screen, 12) {
			@include span(last 6);
		}
	}
	.address--mail {
		padding: $grid-padding;
		font-family: $special-font-family;
	}
}
