.sidebar {
	.button {		
		@include susy-breakpoint($medium-screen, 12) {
			margin-bottom: $gutter-width;
		}

		&.-expand:not(.open) + ul {
			display: none;
		}
		& + ul {
			margin-bottom: $gutter-width;
			margin-top: $gutter-width * -0.5;
			padding: $grid-padding;
			@include heavy-opacity($black);
		}
	}
	li {
		line-height: 1.2;

		a {
			@include clean-link;
		}
	}
}
