// Variables
$social-link-size: 0.5em;

// Helpers
@mixin social-link($map) {
	@include span(last (100% / length($map)));

	@each $service, $properties in $map {
		$service-color: map_get($properties, color);

		&.#{$service} {
			a {
				@extend %fa-#{$service};
				@extend %social-link;
				@include button($service-color);

				&:hover {
					background-color: $service-color;
				}
			}
		}
	}
	a {
		text-decoration: none;

		&:before {
			@extend .#{$fa-css-prefix};
			display: block;
			width: 1em;
		}
	}
}

%social-links {
	@extend %clean-list;
	@extend %horizontal-list;
	text-align: center;
}

%social-link {
	font-size: 1em + $social-link-size;
	padding: 1em - $social-link-size;
	display: inline-block;
}

// Styles
.social-links {
	@extend %social-links;
}

.social-link {
	@include social-link($social-media-list);
}

.follow-links {
	@extend %social-links;
}

.follow-link {
	@include social-link($social-follow-list);
}
